.steps-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    .user-journey-step-container {
        .card.user-journey-step {
            width: 100%;
            margin: 5rem 0;
    
            .card-body {
                background-color: map-get($brand-palette, main-background);
                color: white;
            }
    
            .card-header {
                background-color: map-get($brand-palette, main-background);
                color: white;
                border-bottom-color: white;
    
                .step-number {
                    border-radius: 50%;
                    font-size: 1rem;
                    padding: 0 0.45rem;
                    background-color: map-get($brand-palette, primary);
                    color: white;
                    margin-right: 0.5rem;
                }
            }
            .card-block {
                background-color: map-get($brand-palette, main-background);
                color: white;
                cursor: pointer;

                p.image-src {
                    padding-left: 15px;

                    &:hover {
                        color: map-get($brand-palette, primary);
                    }
                }
            }
        }

        &.user-journey-step-container--no-childs {
            &:after {
                content: '';
                height: 9rem;
                width: 2px;
                border: 1px solid white;
                display: inline-block;
                position: absolute;
                bottom: -4.5rem;
                left: calc(50% - 2px/2);
                
            }

            &:before {
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 7px 5px 0 5px;
                border-color: white transparent transparent transparent;
                display: inline-block;
                position: absolute;
                bottom: -4.8rem;
                left: calc(50% - 5px);
            }

            &.last-step {
                &:after,
                &:before {
                    display: none;
                }
            }
        }
        &.user-journey-step-container--with-childs {
            &:after {
                content: '';
                height: calc(4rem - 5px);
                width: 2px;
                border: 1px solid white;
                display: inline-block;
                position: absolute;
                top: 605px;
                left: calc(50% - 2px/2);
            }

            &:before {
                content: '';
                height: 1px;
                width: 50%;
                border: 1px solid white;
                display: inline-block;
                position: absolute;
                top: calc(600px + 4rem);
                left: calc((100% - 50%)/2);
            }
        }
        &.user-journey-step-container--child {
            &:after {
                content: '';
                height: 4.5rem;
                width: 2px;
                border: 1px solid white;
                display: inline-block;
                position: absolute;
                top: -.95rem;
                left: calc(50% - 1px);

            }

            &:before {
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 7px 5px 0 5px;
                border-color: white transparent transparent transparent;
                display: inline-block;
                position: absolute;
                top: calc(-.95rem + 4.5rem);
                left: calc(50% - 5px);
            }
        }
    }

    @include media-breakpoint-up(lg) {
        flex-direction: row;
        flex-wrap: wrap;

        .card-img-bottom {
            max-height: 400px;
        }
    }
}

.edit-mode-container {
    padding: 1rem;
    background-color: map-get($brand-palette, main-background); 
    border-bottom: 1px solid white;

    .form-inline  .form-control.full {
        width: 100%;
    }
    .form-group {
        label {
            color: white;
        }
    }
    &--feature {
        margin-bottom: 2rem;
        border-bottom: 0;
        .card {
            background-color: map-get($brand-palette, main-background); 
        }
    }
}

input.form-control,
textarea.form-control,
input.form-control:focus,
textarea.form-control:focus {
    background-color: map-get($brand-palette, main-background);
    color: map-get($brand-palette, primary);
}

input.form-control:focus,
textarea.form-control:focus {
    outline: 0;
    border-color: white;
    box-shadow: 0 0 0 0;
}

input.form-control.invalid,
textarea.form-control.invalid {
    border-color: map-get($brand-palette, danger);
}

input.form-control.valid,
textarea.form-control.valid {
    border-color: map-get($brand-palette, success);
}

button.btn.btn-primary {
    background-color: map-get($brand-palette, primary); 
    border-color: map-get($brand-palette, primary); 
}

button.btn.btn-secondary {
    background-color: map-get($brand-palette, secondary); 
    border-color: map-get($brand-palette, secondary); 
}