.steps-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    .card.user-journey-step {
        width: 320px;
        margin: 15px;

        .card-body {
            background-color: map-get($brand-palette, main-background);
            color: white;
        }

        .card-header {
            background-color: map-get($brand-palette, main-background);
            color: white;
            border-bottom-color: white;

            .step-number {
                border-radius: 50%;
                font-size: 1rem;
                padding: 0 0.45rem;
                background-color: map-get($brand-palette, primary);
                color: white;
                margin-right: 0.5rem;
            }
        }
    }
    @include media-breakpoint-up(lg) {
        flex-direction: row;
        flex-wrap: wrap;

        .card.user-journey-step {
            width: 450px;
        }
    }
}
