.section-container {
    height: 100vh;

    &--intro {
        height: calc(100vh - 70px);
    }

    &.section-container--intro {
        section.welcome-section {
            .image-container {
                height: calc(100vh - 70px);
                img {
                    width: 70%;
                }
                h2 {
                    margin-top: 3rem;
                    text-align: right;
                    @media (min-width: 768px) {
                        padding-right: 4.5rem;
                    }
                }
            }
        }
    }

    &.section-container--primary {
        background-color: map-get($brand-palette, primary);
        section.welcome-section {
            .image-container {
                i {
                    color: map-get($brand-palette, main-background);
                }
            }
            .description-container {
                h3 {
                    color: map-get($brand-palette, main-background);
                }
            }
        }
    }

    &.section-container--secondary {
        background-color: map-get($brand-palette, secondary);
        section.welcome-section {
            .image-container {
                i {
                    color: map-get($brand-palette, main-background);
                }
            }
            .description-container {
                h3 {
                    color: map-get($brand-palette, main-background);
                }
            }
        }
    }

    section.welcome-section {
        .image-container {
            height: 40vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;
    
            .teams-container {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-content: center;
                align-items: center;
    
                .team-item {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    margin: 0 .5rem;
    
                    i {
                        font-size: 45px;
                        margin: 0;
                        &.fa.fa-circle-o {
                            color: map-get($brand-palette, primary);
                        }
                        &.fa.fa-check-circle-o {
                            color: map-get($brand-palette, success);
                        }
                        &.fa.fa-times-circle-o {
                            color: map-get($brand-palette, secondary);
                        }
                    }
                    span {
                        font-size: 1.5rem;
                        color: white;
                    }
                }
            }
    
            i {
                color: map-get($brand-palette, primary);
                margin: 1rem 0;
                font-size: 60px;
            }
            img {
                width: 100%;
            }

            @media (min-width: 768px) {
                height: 100vh;
            }
        }
    
        .description-container {
            height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;
    
            h3 {
                font-size: 1.5rem;
                color: map-get($brand-palette, primary);
            }
            p {
                text-align: justify;
                font-size: 1rem;
            }
    
            @media (min-width: 768px) {
                height: 100vh;
                align-items: flex-start;
                align-content: flex-start;

                h3 {
                    font-size: 2.5rem;
                }
                p {
                    text-align: justify;
                    font-size: 1.5rem;
                }
            }
        }

        &--right {
            @media (min-width: 768px) {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
            }
        }
    }
}
